<div class="search-header">
  <a tabindex="1" routerLink="/home" ><i class="far fa-arrow-alt-circle-right"></i></a>
  <strong>Rahba</strong>
</div>


<div class="search-input-component">
  <i class="fas fa-search"></i>
  <i tabindex="3" class="fas fa-times-circle"
     (click)="searchInput.setValue(''); items= []"
     (keyup)="onResetSearchInput($event)">
  </i>

  <div class="input-flex-container">
    <a tabindex="4" routerLink="/home" style="flex-grow: 2; line-height: 32px" href="#" >الغــاء</a>
    <input
      tabindex="2"
      style="flex-grow: 8"
      [formControl]="searchInput"
      (keyup)="onSearchInputKeyUp($event)"
      type="text"
      class="form-control form-control-sm"
      placeholder="بحـت"
      autofocus
    />
  </div>
  <div #autoComplete class="autocomplete-items">
    <div *ngFor="let summaryItem of items; let co = index"
         id="{{summaryItem.id}}"
         (click)="onSelectedBookItem(summaryItem)"
         (keyup.enter)="onSelectedBookItem(summaryItem)">

      <i class="fas fa-search"></i>
      <span tabindex="{{co+5}}"
            (keyup.arrowDown)="onSummaryItemKeyPress(autoComplete, true)"
            (keyup.arrowUp)="onSummaryItemKeyPress(autoComplete, false)"
            [innerHTML]="summaryItem.title | summaryItemTitle: searchInput.value">
      </span>

    </div>
    <div *ngIf="items.length === maxResultSet">
      <a href="#">  رؤية المزيد من النتائج عن:   <strong> {{searchInput.value}} </strong></a>
    </div>
  </div>

</div>

