<!--<h1 mat-dialog-title>Want to receive our emails?</h1>-->
<!--<div mat-dialog-content>-->
<!--  <p>What's your email?</p>-->
<!--  <mat-form-field>-->
<!--    <input matInput [(ngModel)]="data.email">-->
<!--  </mat-form-field>-->
<!--</div>-->
<!--<div mat-dialog-actions>-->
<!--  <button mat-button (click)="onNoClick()">No</button>-->
<!--  <button mat-button [mat-dialog-close]="data.email" cdkFocusInitial>Yes</button>-->
<!--</div>-->

<!--header-->
<div class="fid-actions-bar">
  <span *ngIf="data.startPage === 0" (click)="toggleShowSummary()" title="toggle summary">
    <i class="fas fa-list-ol"></i>
  </span>

  <span title="close summary" (click)="dialogRef.close()">
    <i class="fas fa-window-close"></i>
  </span>
</div>


<div *ngIf="showSummary" class="summary-container">
  <ul *ngFor="let key of keys()">
    {{key}}
    <li *ngFor="let bookmark of data.bookmarks[key]" (click)="goToPage(bookmark.page)">
      <i class="fas fa-chevron-right"></i> {{bookmark.title}}
    </li>
  </ul>
</div>

<div *ngIf="!loaded" class="flex-container">
  <div class="spinner-border text-primary"></div>
</div>

<div *ngIf="loaded" class="book-content" [style.opacity]="showSummary ? '0.66' : '1'"
     [style.filter]="showSummary ? 'blur(2px)': 'blur(0px)'">
  <pdf-viewer [src]="src"
              [original-size]="true"
              [fit-to-page]="true"
              [show-all]="true"
              [show-borders]="true"
              (pageChange)="onPageChange($event)"
              (after-load-complete)="callBackAfterLoadComplete($event)"
              [stick-to-page]="false"
  >
  </pdf-viewer>
</div>

<div class="fid-comments-container">
  <div class="fid-comment">
    <span>
      <i class="fas fa-user-circle"></i>
    </span>

    <span class="badge badge-primary">
       My wife and I are lucky that we have regular employment, but we still find time to work on her business which used to be the main source of our income during festival season in the uk,
      My wife and I are lucky that we have regular employment, but we still find time to work on her business which used to be the main source of our income during festival season in the uk
    </span>
  </div>

  <div class="fid-comment">
    <span>
      <i class="fas fa-user-circle"></i>
    </span>

    <span class="badge badge-dark">
       My wife and I are lucky that we have regular employment, but we still find time to work on her business which used to be the main source of our income during festival season in the uk,
    </span>
  </div>

  <div class="fid-comment">
    <span>
      <i class="fas fa-user-circle"></i>
    </span>

    <span class="badge badge-light">
       My wife and I are lucky that we have regular employment!
    </span>
  </div>

  <div class="fid-comment">
    <span>
      <i class="fas fa-user-circle"></i>
    </span>

    <span class="badge badge-secondary">
       My wife and I are lucky that we have regular employment!
    </span>
  </div>
</div>
