<!--<h1 mat-dialog-title>Want to receive our emails?</h1>-->
<!--<div mat-dialog-content>-->
<!--  <p>What's your email?</p>-->
<!--  <mat-form-field>-->
<!--    <input matInput [(ngModel)]="data.email">-->
<!--  </mat-form-field>-->
<!--</div>-->
<!--<div mat-dialog-actions>-->
<!--  <button mat-button (click)="onNoClick()">No</button>-->
<!--  <button mat-button [mat-dialog-close]="data.email" cdkFocusInitial>Yes</button>-->
<!--</div>-->

<!--header-->
<div class="fid-actions-bar">
  <span tabindex="1"
        *ngIf="data.startPage === 0"
        (click)="toggleShowSummary()"
        [class.float-right]="homeService.language === 0"
        title="toggle summary">
    <button mat-icon-button color="basic"><i class="fas fa-list-ol"></i></button>
  </span>

  <span
    tabindex="{{1 + keys().length}}"
    [class.float-right]="homeService.language === 1"
    title="close summary"
    (click)="dialogRef.close()">
    <button mat-icon-button color="basic"><i class="fas fa-window-close"></i></button>
  </span>
</div>


<div *ngIf="showSummary" class="summary-container" [style]="homeService.language === 0 ? 'right: 2%' : 'left: 2%'">
  <ul *ngFor="let key of keys(); let co = index">
    {{key}}
    <li tabindex="{{co + 1}}" *ngFor="let bookmark of data.modalData.bookmarks[key]" (click)="goToPage(bookmark.page)">
      <i class="fas fa-chevron-right"></i> {{bookmark.title}}
    </li>
  </ul>
</div>

<div *ngIf="!loaded" class="flex-container">
  <div class="spinner-border text-primary"></div>
</div>

<div *ngIf="loaded" class="book-content" [style.opacity]="showSummary ? '0.66' : '1'"
     [style.filter]="showSummary ? 'blur(2px)': 'blur(0px)'">
  <pdf-viewer [src]="src"
              [original-size]="true"
              [fit-to-page]="true"
              [show-all]="true"
              [show-borders]="true"
              (pageChange)="onPageChange($event)"
              (after-load-complete)="callBackAfterLoadComplete($event)"
              [stick-to-page]="false"
              tabindex="{{2 + keys().length}}"
  >
  </pdf-viewer>
</div>

<div class="fid-comments-container">

  <rahba-comment
    tabindex="{{3 + keys().length}}"
    [index]="4 + keys().length"
    [book]="data.book"
    [currentPage]="currentPage"
    [comments]="pageComments"
    [language]="1"
    (callLogout)="onCallLogout($event)">
  </rahba-comment>

</div>
