<!--<h1 mat-dialog-title>Want to receive our emails?</h1>-->
<!--<div mat-dialog-content>-->
<!--  <p>What's your email?</p>-->
<!--  <mat-form-field>-->
<!--    <input matInput [(ngModel)]="data.email">-->
<!--  </mat-form-field>-->
<!--</div>-->
<!--<div mat-dialog-actions>-->
<!--  <button mat-button (click)="onNoClick()">No</button>-->
<!--  <button mat-button [mat-dialog-close]="data.email" cdkFocusInitial>Yes</button>-->
<!--</div>-->


<span class="badge badge-pill badge-light" (click)="toggleShowSummary()">toggle</span>
<div *ngIf="showSummary" class="summary-container">
  <ol *ngFor="let key of keys()">
    {{key}}
    <li *ngFor="let bookmark of data.bookmarks[key]" (click)="goToPage(bookmark.page)" style="padding-left: 4px">
      {{bookmark.title}}
    </li>
  </ol>
</div>

<div *ngIf="!loaded" class="flex-container">
  <div class="spinner-border text-primary"></div>
</div>

<div *ngIf="loaded" class="book-content" [style.opacity]="showSummary ? '0.66' : '1'"
     [style.filter]="showSummary ? 'blur(2px)': 'blur(0px)'">
  <pdf-viewer [src]="src"
              [original-size]="true"
              [fit-to-page]="true"
              [show-all]="true"
              [show-borders]="true"
              (pageChange)="onPageChange($event)"
              (after-load-complete)="callBackAfterLoadComplete($event)"
              [stick-to-page]="false"
  >
  </pdf-viewer>
</div>
