<!--nav_bar-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav" [ngClass]="language === 1 ? 'left-to-right' : ''">
    <li class="nav-item"><a routerLink=""><i class="fa fa-home"></i></a></li>
    <li class="nav-item"><a routerLink="search"><i class="fa fa-search">  </i></a></li>
    <li class="nav-item">
        <a (click)="showNotificationChildView = true" routerLink="notification">
          <mat-icon
            matBadge="{{homeService.totalNotifications}}"
            matBadgePosition="above after"
            [matBadgeColor]="homeService.totalNotifications > 0 ? 'warn' : 'primary'"
            matBadgeSize="small"
            matBadgeOverlap="true"
          >
            <i [ngClass]="showNotificationChildView ? 'fas fa-bell' : 'far fa-bell' "></i>
          </mat-icon>
        </a>
    </li>
    <li class="nav-item"><a href=""  (click)="homeService.logout()"><i class="fa fa-times" aria-hidden="true"></i></a></li>
  </ul>
</nav>

<rahba-notification *ngIf="showNotificationChildView"
                    (destroyEvent)="notificationChildViewDestroyed($event)">
</rahba-notification>

<rahba-book-chart *ngIf="!showNotificationChildView"></rahba-book-chart>
