<div class="flex-container">
  <div class="login-box">

    <form>
      <input type="text"     class="form-control" [formControl]="pseudoName" placeholder="اســم المستـعمـل" >
      <input type="password" class="form-control" [formControl]="password"   placeholder="كلمــة المــرور" >
    </form>

    <br/>
    <form #form action="{{loginService.backendServer.dns + loginService.backendServer.signInUrl}}"
          method="POST" (ngSubmit)="onFacebookSignUp(form)">
      <input  type="hidden" name="scope" value="public_profile"/>
      <button type="submit" class="btn btn-primary btn-block">Facebook</button>
    </form>
  </div>
</div>

<div class="container-fluid footer">
  <h3>Rahba</h3>
</div>
