
<div style="display: inline-flex; width: 100%">
  <div class="side-arrow" style="margin-left: 16px">
    <div class="arrows-flex-container">
      <div><i (click)="onRightArrowClick($event)" class="fa fa-arrow-circle-left" aria-hidden="true" style="font-size: 2.2em; color: #343a40"></i></div>
    </div>
  </div>

  <div *ngIf="!loaded" style="width: 100%;text-align: center">
    <div  class="spinner-border text-info"></div>
  </div>

  <!--scrollable content-->
  <div *ngIf="loaded" class="flex-container">
    <div *ngFor="let book of homeService.favoriteBooks">
      <div class="book-chart-box" (click)="onCLick(book)" [ngStyle]="base64ToImg(book.coverPhotoBase64)">
        <div></div>
        <div></div>
        <div></div>
        <div class="book-title">
          {{book.title}} <br/>
          {{book.releaseDate}}
        </div>
      </div>
    </div>
  </div>

  <div class="side-arrow" style="margin-right: 16px">
    <div class="arrows-flex-container">
      <div><i (click)="onLeftArrowClick($event)" class="fa fa-arrow-circle-right" aria-hidden="true" style="font-size: 2.2em; color: #343a40"></i></div>
    </div>
  </div>

</div>
